-
  const STATE_KEY = 'TQ_API_ACADEMY_WORLD_STATE';
  const worldState = getState(STATE_KEY);
  let allComplete = false;
  if (
    worldState.initiation && 
    worldState.initiation.lastShownHouseNotification &&
    worldState.initiation.lastShownHouseNotification === 4
  ) {
    allComplete = true;
  }

mixin personal_intro
  response#personal_intro.
    !{getTranslatedString('api-academy.professor-default.personal_intro_response')}

mixin exposition
  response#exposition.
    !{getTranslatedString('api-academy.professor-default.exposition_response')}

mixin get_started
  response#get_started.
    !{getTranslatedString('api-academy.professor-default.get_started_response')}

conversation(display_name="Admissions Director Heapsort")
  case lastResponse
    when "personal_intro"
      statement#personal_intro
      responses
        +get_started
        +exposition

    when "exposition"
      statement#exposition
      responses
        +get_started
        +personal_intro

    when "ack"
      statement#ack
      responses
        +exposition
        +personal_intro

    when "get_started"
      statement#get_started
      responses
        if allComplete
          +exposition
          +personal_intro
        else
          response#ack.
            !{getTranslatedString('api-academy.professor-default.get_started_ack')}

    default
      if !worldState.heapsortInitialGreeting
        - worldState.heapsortInitialGreeting = true;
        statement#default
        responses
          response#personal_intro.
            !{getTranslatedString('api-academy.professor-default.default_personal_intro')}
          +exposition
          +get_started

      else if allComplete
        statement#thanks
        responses
          +exposition
          +personal_intro

      else
        statement#follow_up_greeting
        responses
          +get_started
          +exposition
          +personal_intro

  statements
    statement#default
      text.
        !{getTranslatedString('api-academy.professor-default.default')}

    statement#follow_up_greeting
      text.
        !{getTranslatedString('api-academy.professor-default.follow_up_greeting')}

    statement#thanks
      text.
        !{getTranslatedString('api-academy.professor-default.thanks')}

    statement#get_started
      if allComplete
        text.
          !{getTranslatedString('api-academy.professor-default.get_started_allComplete')}
      else
        text.
          !{getTranslatedString('api-academy.professor-default.get_started')} 

    statement#ack
      text.
        !{getTranslatedString('api-academy.professor-default.ack')}

    statement#exposition
      text.
        !{getTranslatedString('api-academy.professor-default.exposition')}
    
    statement#personal_intro
      text.
        !{getTranslatedString('api-academy.professor-default.personal_intro')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
